<!DOCTYPE html>
<html lang="sr">

    <head>
        <meta charset="utf-8">
        <title>@ViewData["Title"]</title>
        <link rel="shortcut icon" href="#" />
        @RenderSection("Styles", false)
    </head>

    <body>
        <div class="box">
            @RenderBody()
        </div>
    </body>

</html>